.shape{
    }

.status-red {
    -fx-background-color:rgba(128,0,0,0.7);
    -fx-border-width: 1;
    -fx-border-insets: 1;
    -fx-border-color : rgba(255,255,255, 0.7);;
}
.status-green {
    -fx-background-color:rgba(0,128,0,0.7);
    -fx-border-insets: 1;
    -fx-border-width: 1;
    -fx-border-color : rgba(255,255,255, 0.7);;

}
.status-blue {
    -fx-background-color:rgba(0,0,128,0.7);
    -fx-border-insets: 1;
    -fx-border-width: 1;
    -fx-border-color : rgba(255,255,255, 0.7);;
}